.cartitems {
    margin: 50px 100px;
    &__format-main {
        display: grid;
        grid-template-columns: 0.5fr 3fr 1fr 1fr 1fr 1fr;
        align-items: center;
        gap: 50px;
        padding: 20px 0;
        color: #454545;
        font-size: 18px;
        border-bottom: 2px solid gray;
    }
    &__format {
        grid-template-columns: 0.5fr 3fr 1fr 1fr 1fr 1fr;
        .carticon-product-icon {
            width: 80px;
        }
        &-quantity {
            background-color: #fff;
        }
        .cartitems-remove-icon {
            cursor: pointer;
            margin: auto;
        }
    }
    &__down {
        margin-top: 20px;
        display: flex;
        gap: 30px;
        &-total {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 40px;
            &-item {
                display: flex;
                justify-content: space-between;
                padding: 15px 0;
            }
            button {
                width: 200px;
                height: 60px;
                outline: none;
                border: none;
                background-color: #ff5a5a;
                color: #fff;
                font-size: 16px;
                cursor: pointer;
            }
        }
    }
    &__promocode {
        flex: 1;
        font-size: 16px;
        font-weight: 500;
        p {
            color: #555;
        }
        &-box {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 15px;
            background-color: #eaeaea;
            input {
                width: 100%;
                border: none;
                outline: none;
                background: transparent;
                font-size: 16px;
                padding: 20px;
            }
            button {
                padding: 0 30px;
                font-size: 16px;
                background-color: #555;
                color: #fff;
                cursor: pointer;
            }
        }
    }
}

@media(max-width: 992px) {
    .cartitems {
        &__format {
            grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
            padding: 10px 0;
            &-quantity {
                margin: auto;
            }
            p {
                font-size: 12px;
            }
            .carticon-product-icon {
                width: 60px;
            }
        }
        &__format-main {
            grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
            font-size: 14px;
            gap: 18px;
        }
    }
}

@media(max-width: 768px) {
    .cartitems {
        &__format {
            p {
                font-size: 10px;
            }
        }
        &__format-main {
            font-size: 10px;
        }
    }
}