.productdisplay {
    margin-top: 50px;
    &__left {
        height: 500px;
        display: flex;
        gap: 17px;
        &-img-list {
            display: flex;
            flex-direction: column;
            gap: 16px;
            img {
                height: 163px;
            }
        }
        &-img {
            img {
                height: 100%;
            }
            &-list {
                overflow-y: scroll;
            }
        }
    }
    &__right {
        margin-top: 50px;
        width: 100%;
        &-header {
            color: #3d3d3d;
            font-size: 30px;
        }
        &-stars {
            display: flex;
            gap: 5px;
            margin-top: 10px;
        }
        &-price {
            display: flex;
            margin: 20px 0px;
            gap: 30px;
            font-size: 24px;
            &-old {
                color: #818181;
                text-decoration: line-through;
            }
            &-new {
                color: #ff4141;
            }
        }
        &-size {
            h1 {
                margin-top: 20px;
                color: #656565;
                font-size: 20px;
            }
            &-list {
                display: flex;
                flex-wrap: wrap;
                margin: 20px 0;
                gap: 20px;
                div {
                    cursor: pointer;
                    transition: all .1s; 
                    padding: 12px 18px;
                    background-color: #fbfbfb;
                    border: 1px solid #ebebeb;
                    border-radius: 3px;
                    &:hover {
                        background-color: #818181;
                        color: #fff;
                    }
                }
            }
            button {
                padding: 14px 30px;
                font-size: 16px;
                color: #fff;
                background-color: #ff4141;
                margin-bottom: 20px;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }
        &-category {
            margin-top: 10px;
            span {
                color: #ff4141;
                margin-right: 10px;
            }
        }
    }
}

@media(max-width: 768px) {
    .productdisplay {
        &__left {
            height: 350px;
            &-img {
                &-list {
                    img {
                        object-fit: cover;
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &__right {
            &-header {
                font-size: 24px;
            }
        }
    }
}

@media(max-width: 576px) {
    .productdisplay {
        &__left {
            height: 300px;
            &-img {
                &-list {
                    img {
                        object-fit: cover;
                        height: 100px;
                    }
                }
            }
        }
        &__right {
            &-header {
                font-size: 18px;
            }
            &-price-old {
                font-size: 18px;
            }
            &-price-new {
                font-size: 18px;
            }
            &-description {
                font-size: 14px;
            }
            &-size {
                h1 {
                    font-size: 16px;
                }
                &-list {
                    div {
                        font-size: 10px;
                    }
                }
                button {
                    font-size: 12px;
                }
                p {
                    font-size: 12px;
                }
            }
        }
    }
}